@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #0DD790,
    ),
  ),
  $border-radius: (
    'base': 12px,
  ),
  $border-color: (
    '': #EAEFF3,
  ),
  $common-component-size: (
    'default': 36px,
  ),
  $checkbox: (
    'font-size': 16px,
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

// tooltip style
.el-popper.is-customized {
  color: #ecf5ff;
  padding: 6px 12px;
  background: linear-gradient(90deg, #409eff, #79bbff);
}

.el-popper.is-customized .el-popper__arrow::before {
  background: linear-gradient(45deg, #409eff, #79bbff);
  right: 0;
}
