@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #0DD790,
    ),
  ),
  $border-radius: (
    'base': 12px,
  ),
  $font-size: (
    'base': 16px,
  ),
  $border-color: (
    '': #EAEFF3,
  ),
  $common-component-size: (
    'default': 36px,
  ),
  $checkbox: (
    'font-size': 16px,
    'input-height': 20px,
    'input-width': 20px,
    'border-radius': 6px,
    'input-border': 2px solid #EAEFF3,
  ),
);

@use "element-plus/theme-chalk/src/index.scss" as *;


// dialog style
.el-dialog {
  border-radius: 28px;
}

// textarea style
.el-textarea__inner {
  line-height: 1.8;
  resize: none; // NOTE: 取消textarea右下角
}

// tooltip style
.el-popper.is-customized {
  color: #ecf5ff;
  padding: 6px 12px;
  background: linear-gradient(90deg, #409eff, #79bbff);
}

.el-popper.is-customized .el-popper__arrow::before {
  background: linear-gradient(45deg, #409eff, #79bbff);
  right: 0;
}

// checkbox style
.el-checkbox__inner::after {
  height: 9px;
  left: 5px;
  width: 5px;
  border: 2px solid var(--el-checkbox-checked-icon-color);
  border-left: 0;
  border-top: 0;
}

.el-checkbox__inner:hover {
  border-color: #aaa;
}

.el-dialog {
  .el-dialog__header {
    padding-bottom: 20px;
    margin-right: 0;
  }
  .el-dialog__header .el-dialog__title {
    font-size: 20px;
    font-weight: bold;
  }
  .el-dialog__body {
    height: calc(100% - 150px);
    padding-bottom: 0;
    padding-top: 0;
    .el-textarea {
      margin-bottom: -8px;
      .el-input__count {
        bottom: 9px;
        opacity: 0.6;
      }
      .el-textarea__inner {
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }
  .el-dialog__footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &.dialog-media {
    height: calc(100% - 64px);
    max-width: 892px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;

    @media screen and (max-width: 912px) {
      width: auto;
      margin: var(--el-dialog-margin-top, 15vh) 10px 50px;
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }
}

.el-tabs__item {
  color: #666;
}

.el-tabs__nav-wrap::after {
  height : 1px;
}

.el-tabs__active-bar {
  height: 3px;
  border-radius: var(--el-border-radius-base);
}

.el-tabs {
  .el-tabs__header {
    margin-bottom: 0;
  }
}

.el-dialog__close {
  right: 6px;
  svg {
    transform: scale(1.5, 1.5);
  }
}
