html,
body,
#app {
  margin: 0;
  padding: 0;
}

:root {
  --animate-duration: .3s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

@mixin animate__animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

.animate__fadeInRight-enter-active {
  @include animate__animated;
  animation-name: fadeInRight;
}

.animate__fadeInRight-leave-active {
  @include animate__animated;
  animation-name: fadeOutRight;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeRotate {
  to {
    transform:rotate(360deg)
  }
}

.container-input  {
  .input-group  {
    .el-input__wrapper {
      box-shadow: none;
      border: 1px solid var(--el-input-border-color);
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .el-textarea__inner {
      caret-color: var(--el-color-primary);
    }
  }
}

.copy.el-button {
  color: var(--el-color-black);
  background-color: var(--el-color-white);
  border-color: var(--el-color-white);
}

.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity 0.3s ease;
}

.page-fade-enter-from,
.page-fade-leave-to {
  opacity: 0;
}

// delete icon style
.delete-icon.el-button {
  position: absolute;
  right: -1px;
  bottom: -1px;
  height: 20px;
  padding: 2px;
  width: 20px;
  background-color: #EAEFF3;

  border: none;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;

  span {
    line-height: 1px;
  }
}

// textarea style
.input-group {
  .el-textarea__inner {
    box-shadow: none;
  }
}

.card {
  width: 156px;
  background-color: #26292e;
  color: #fff;

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex-shrink: 0;
  word-wrap: break-word;
  background-clip: border-box; // 使background覆盖border
  border: 1px solid var(--el-border-color);
  border-radius: var(--el-border-radius-base);
  cursor: pointer;

  &:hover {
    background-color: #1a1c1f;
  }

  .card-img,
  img {
    border-top-left-radius: var(--el-border-radius-base);
    border-top-right-radius: var(--el-border-radius-base);
  }
  img {
    width: 100%;
    height: 135px;
  }
}

.selected {
  border: 2px solid var(--el-color-primary) !important;
}


// icon
.icon-ren {
  content: url("../assets/img/ren.png");
}
.icon-fengge {
  content: url("../assets/img/fengge.png");
}

.icon-bili {
  content: url("../assets/img/bili.png");
}

.icon-tishici {
  content: url("../assets/img/tishici.png");
}

.icon-canshu {
  content: url("../assets/img/canshu.png");
}

.icon-wangzhi {
  content: url("../assets/img/wangzhi.png");
}

.icon-jiantou {
  content: url("../assets/img/jiantou.png");
}

.icon-zidingyi {
  content: url("../assets/img/zidingyi.png");
}

.icon-loading {
  content: url("../assets/img/loading.png");
  animation: fadeRotate .6s linear infinite;
}

.dialogBtn {
  width: 128px;
}
