html,
body,
#app {
  margin: 0;
  padding: 0;
}

:root {
  --animate-duration: .3s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

@mixin animate__animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

@mixin hover-style {
  &::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid transparent;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    border-radius: var(--el-border-radius-base);
    z-index: 1;
  }

  &:hover::after {
    border-color: #aaa;
  }
}

@mixin hover-style-tooltip-tag {
  &::after {
    border: 1px solid transparent;
    border-radius: 8px;
    bottom: -1px;
    content: "";
    display: block;
    left: -1px;
    position: absolute;
    right: -1px;
    top: -1px;
  }

  &:hover::after {
    border-color: var(--el-color-primary);
  }
}

@mixin weight-mark-style {
  &::before {
    content: attr(data-weight);
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: var(--el-color-primary);
    right: -8px;
    top: -8px;
    color: var(--el-color-white);
    border-radius: 50%;
    display: inline;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    z-index: 2;
  }
}

.animate__fadeInRight-enter-active {
  @include animate__animated;
  animation-name: fadeInRight;
}

.animate__fadeInRight-leave-active {
  @include animate__animated;
  animation-name: fadeOutRight;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeRotate {
  to {
    transform:rotate(360deg)
  }
}

span,
.card-name,
.card-enname {
  font-weight: 600;
}

// 选中的样式
.selected {
  &::after {
    border: 0.2em solid var(--el-color-primary) !important;
  }

  border-color: transparent;
}

.container-input  {
  .input-group  {
    .el-input__wrapper {
      box-shadow: none;
      border: 1px solid var(--el-input-border-color);
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .el-textarea__inner {
      font-size: 20px;
      caret-color: var(--el-color-primary);
    }
  }
}

.input-group > .el-button:hover:not(.is-disabled),
.el-button.dialogBtn:hover:not(.is-disabled) {
  border-color: #0cc987;
  background: #0cc987;
}

// .el-button.is-disabled {
//   background: rgb(134, 235, 200);
//   border-color: rgb(134, 235, 200);
// }

.copy.el-button {
  color: var(--el-color-black);
  background-color: var(--el-color-white);
  border-color: var(--el-color-white);
}

.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity 0.3s ease;
}

.page-fade-enter-from,
.page-fade-leave-to {
  opacity: 0;
}

// delete icon style
.delete-icon.el-button {
  position: absolute;
  right: 1px;
  bottom: 1px;
  height: 20px;
  padding: 2px;
  width: 20px;
  z-index: 9;
  background-color: #EAEFF3;

  border: none;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;

  span {
    line-height: 1px;
  }
}

// textarea style
.input-group {
  .el-textarea__inner {
    box-shadow: none;
  }
}

.card {
  width: 116px;
  background-color: var(--el-color-white);
  color: var(--el-color-black);

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex-shrink: 0;
  word-wrap: break-word;
  background-clip: border-box; // 使background覆盖border
  border: 1px solid var(--el-border-color);
  border-radius: var(--el-border-radius-base);
  cursor: pointer;

  @include hover-style;

  @include weight-mark-style;

  .card-enname {
    color: #AAAAAA;
  }

  .card-img,
  img {
    width: 100%;
    height: 122px;
    background-size: cover;

    border-top-left-radius: var(--el-border-radius-base);
    border-top-right-radius: var(--el-border-radius-base);
  }
  
}
.card.no-mark-tag {
  &::before {
    content: none;
  }
}

.prompt-item {
  width: 156px;
  
  .card-img,
  img {
    width: 100%;
    height: 160px;
    background-size: cover;

    border-top-left-radius: var(--el-border-radius-base);
    border-top-right-radius: var(--el-border-radius-base);
  }
}

.keyword-tag {
  min-width: 114px;
  text-align: center;
  border: 1px solid var(--el-border-color);
  border-radius: var(--el-border-radius-base);
  cursor: pointer;

  @include hover-style;
  @include weight-mark-style;
}

.keyword-tag.no-mark-tag {
  &::before {
    content: none;
  }
}

.tooltiplist {
  width: 100%;
  overflow: hidden;
}

.tooltip-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background: #F5F5F5;
  border-radius: 8px;
  border: 1px solid var(--el-border-color);
  cursor: pointer;
  @include hover-style-tooltip-tag;
  
  span {
    max-width: 100px;
  }
}

// icon
.icon-ren {
  content: url("../assets/img/ren.png");
}
.icon-fengge {
  content: url("../assets/img/fengge.png");
}

.icon-bili {
  content: url("../assets/img/bili.png");
}

.icon-tishici {
  content: url("../assets/img/tishici.png");
}

.icon-canshu {
  content: url("../assets/img/canshu.png");
}

.icon-wangzhi {
  content: url("../assets/img/wangzhi.png");
}

.icon-jiantou {
  content: url("../assets/img/jiantou.png");
}

.icon-zidingyi {
  content: url("../assets/img/zidingyi.png");
}

.icon-loading {
  content: url("../assets/img/loading.png");
  animation: fadeRotate .6s linear infinite;
}

.dialogBtn {
  width: 128px;
}

.sizeBtn {
  width: 80px;
}

.readmore-title {
  color: #222222;
  font-size: 1.5rem;
  font-family: "DM Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.search-input::before {
  content: url(/src/assets/img/jiantou.png);
  position: absolute;
  width: 30px;
  height: 30px;
  left: -10px;
  bottom: -25px;
  transform: scale(0.5);
}

.container-input {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--el-fill-color-blank);
}

.footer {
  a {
    color: rgba(255, 255, 255, 0.8);
    &:hover{
      color:rgba(12,201,135, 0.8);
    }
  }
}

.el-dialog {
  .el-dialog__header {
    padding-bottom: 20px;
  }
  .el-dialog__header .el-dialog__title {
    font-size: 20px;
    font-weight: bold;
  }
  .el-dialog__body {
    padding-bottom: 0;
    padding-top: 0;
    .el-textarea {
      margin-bottom: -8px;
      .el-input__count {
        bottom: 9px;
        opacity: 0.6;
      }
      .el-textarea__inner {
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }
  .el-dialog__footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &.dialog-media {
    max-width: 892px;
    width: 100%;
    margin: var(--el-dialog-margin-top, 15vh) auto 50px;
    @media screen and (max-width: 912px) {
      width: auto;
      margin: var(--el-dialog-margin-top, 15vh) 10px 50px;
    }
  }
}

.el-tabs__item {
  color: #666;
}

.el-tabs__nav-wrap::after {
  height : 1px;
}

.el-tabs__active-bar {
  height: 3px;
  border-radius: var(--el-border-radius-base);
}

.el-tabs {
  .el-tabs__header {
    margin-bottom: 0;
  }
}

.el-dialog__close svg {
  transform: scale(1.5, 1.5);
}

.i-carbon-copy {
  --un-icon: none !important;
  background-image: url(../assets/img/fuzhi_kedian.png) !important;
  background-size: 1.2em 1.2em !important;
  background-color: #fff !important;
}

.el-button.copy:hover {
  .i-carbon-copy {
    background-color: rgb(229, 231, 235) !important;
  }
}
